{{ define "ComponentLaunch" }}
<form {{ componentattrs . }} action="/" method="POST" onsubmit="{{ formsubmit }}" class="bg-gray-100 rounded p-4">
	<div class="text-2xl font-semibold">Create New Container</div>
	<div class="mt-4">
		<input name="Name" value="{{ .Name }}" type="text" placeholder="Container Name"
			class="w-full border shadow rounded px-2 py-1 outline-none text-lg">

		<input name="Repo" value="{{ .Repo }}" type="text" placeholder="Optional Repo"
			class="w-full border shadow rounded px-2 py-1 outline-none text-lg">
		<div class="mt-3 flex justify-center">
			<button type="submit"
				class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create</button>
		</div>
	</div>
	<div id='statusdiv' class="block w-full overflow-x-auto">

		<div class="flex flex-wrap items-center">
			<div class="relative w-full px-4 max-w-full flex-grow flex-1">
				<h3 id='statusheader' class="font-semibold text-lg text-red-700">
					{{ .Status }}
				</h3>
				<div id='statuslog' class="py-3 text-md font-semibold text-left">
					{{ range .Logs }}
					{{ . }}<br />
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</form>

{{ end }}
