<!DOCTYPE html>
<html lang="en">

<head>
	{{ template "ComponentMeta" .CMeta }}
	{{ meta . }}
	{{ dynamics }}

</head>

<body class="text-blueGray-700 antialiased">
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="root">
		{{ template "ComponentNav" .Nav }}

		<div class="relative md:ml-64 bg-blueGray-50">
			{{ template "ComponentTopNav" .TopNav }}

			{{ template "ComponentHeader" .Header }}
			<div class="px-4 md:px-10 mx-auto w-full -m-24">
				<section class="my-24 px-4 max-w-screen-xl mx-auto flex items-center justify-center gap-8">
					<div class="w-full md:w-1/2">
						{{ template "ComponentLaunch" .Launch }}
					</div>
				</section>
				<footer class="block py-4">
					<div class="container mx-auto px-4">
						<hr class="mb-4 border-b-1 border-blueGray-200" />
						<div class="flex flex-wrap items-center md:justify-between justify-center">
							<div class="w-full md:w-4/12 px-4">
								<div class="text-sm text-blueGray-500 font-semibold py-1 text-center md:text-left">
									Copyright © <span id="get-current-year"></span>
									<a href="https://www.creative-tim.com?ref=njs-settings"
										class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1">
										Creative Tim
									</a>
								</div>
							</div>
							<div class="w-full md:w-8/12 px-4">
								<ul class="flex flex-wrap list-none md:justify-end justify-center">
									<li>
										<a href="https://www.creative-tim.com?ref=njs-settings"
											class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
											Creative Tim
										</a>
									</li>
									<li>
										<a href="https://www.creative-tim.com/presentation?ref=njs-settings"
											class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
											About Us
										</a>
									</li>
									<li>
										<a href="http://blog.creative-tim.com?ref=njs-settings"
											class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
											Blog
										</a>
									</li>
									<li>
										<a href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-settings"
											class="text-blueGray-600 hover:text-blueGray-800 text-sm font-semibold block py-1 px-3">
											MIT License
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
	<script type="text/javascript">
		/* Make dynamic date appear */
		(function () {
			if (document.getElementById("get-current-year")) {
				document.getElementById(
					"get-current-year"
				).innerHTML = new Date().getFullYear();
			}
		})();
		/* Sidebar - Side navigation menu on mobile/responsive mode */
		function toggleNavbar(collapseID) {
			document.getElementById(collapseID).classList.toggle("hidden");
			document.getElementById(collapseID).classList.toggle("bg-white");
			document.getElementById(collapseID).classList.toggle("m-2");
			document.getElementById(collapseID).classList.toggle("py-3");
			document.getElementById(collapseID).classList.toggle("px-6");
		}
		/* Function for dropdowns */
		function openDropdown(event, dropdownID) {
			let element = event.target;
			while (element.nodeName !== "A") {
				element = element.parentNode;
			}
			Popper.createPopper(element, document.getElementById(dropdownID), {
				placement: "bottom-start",
			});
			document.getElementById(dropdownID).classList.toggle("hidden");
			document.getElementById(dropdownID).classList.toggle("block");
		}

	</script>

</body>

</html>
